<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="renderer" content="webkit">
    <meta name="description" content="SMIC dashboard management"/>
    <meta name="keywords" content="smic lot"/>
    <meta name="format-detection" content="telphone=no, email=no"/>
    <meta name="author" content="yonggang, yg.zhai@whynotdna.com"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css?version={{version}}" />
</head>
<body class="{{bodyclass}}">
    {% block content %} {% endblock%}
    {% block foot %} {% endblock%}
    <script type="text/javascript" src="../js/{{mainjs}}.js?version={{version}}" async></script>
</body>
</html>
